@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --color-error: #9c0000;
  --primary-color: rgb(2, 10, 12);
  --primary-color-darker: rgb(18, 7, 85);
  --color-black: #050101;
  --white-color: #fffafa;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: var(--white-color);
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sizeInput-checkbox {
  height: 20px;
  width: 20px;
}
.sizeInput-Number {
  height: 20px;
  width: 40px;
}
.content-btn {
  width: 100%;
}
.btn {
  font-size: 25px;
  height: 50px;
  width: 100%;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-black);
  transition: 0.5s ease-in-out;
}
.btn:hover {
  background-color: var(--color-black);
  color: var(--white-color);
  transition-duration: 1s;
  transform: translateY(3px);
  transform: translate3d(0px, 10px, 0px);
}
.msgError {
  color: var(--color-error);
}
